/* Word Sans Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Work Sans", sans-serif;
}

/* CSS Variables */
:root {
    --dark-01: #131313;
    --dark-02: #424242;
    --dark-03: #727272;
    --white-color: #ffffff;
    --brand-color: #FF900E;
}

/* Start Repeated Style */
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
    align-items: center;
}


/* End Repeated Style */


body {
    background-color: var(--bg-color);
}

/* Header */
header {
    background-color: #FFF4E7;
}
.navbar {
    justify-content: space-between;
    padding: 20px 0;
}

.logo h2 {
    color: var(--dark-01);
    font-size: 2rem;
    font-weight: 700;
}

.nav_links {
    gap: 3rem;
}

.nav_links a {
    color: var(--dark-02);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    transition: all .50s ease;
}

.nav_links a:hover {
    color: var(--brand-color);
}