/* Word Sans Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Work Sans", sans-serif;
}

/* CSS Variables */
:root {
    --dark-01: #131313;
    --dark-02: #424242;
    --dark-03: #727272;
    --white-color: #ffffff;
    --brand-color: #FF900E;
}

/* Start Repeated Style */
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
    align-items: center;
}

.btn {
    color: var(--white-color);
    background-color: var(--brand-color);
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

section {
    margin: 100px;
}

/* End Repeated Style */


body {
    background-color: var(--bg-color);
}

/* Header */

/* Navbar */
header {
    background-color: #FFF4E7;
}
.navbar {
    justify-content: space-between;
    padding: 20px 0;
}

.logo h2 {
    color: var(--dark-01);
    font-size: 2.8rem;
    font-weight: 700;
}

.nav_links {
    gap: 3rem;
}

.nav_links a {
    color: var(--dark-02);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    transition: all .50s ease;
}

.nav_links a:hover {
    color: var(--brand-color);
}

/* Banner */
.banner_content {
    max-width: 850px;
    margin: 6rem auto 3rem;
    text-align: center;
}

.banner_content h1 {
    color: var(--dark-01);
    font-weight: 700;
    font-size: 4rem;
}

.banner_content p {
    color: var(--dark-03);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 1rem auto;
}

.banner_img img {
    width: 100%;
    height: auto;
}

/* Future Section */
.future_sec {

}

.future_img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.future_img img {
    cursor: pointer;
    transition: all .50s ease;
}

.future_img img:hover {
    transform: scale(1.03);
}

.future_content {
    max-width: 530px;
    margin-left: 130px;
}

.future_content h2 {
    font-size: 2.8rem;
}

.future_content .q_l {
    color: var(--dark-03);
    font-weight: 600;
}

.future_content .o_o {
    color: var(--dark-01);
    font-weight: 700;
}

.future_content .future {
    color: var(--brand-color);
    font-weight: 700;
}

.future_content p {
    color: var(--dark-03);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 20px auto;
}



/* Responsive Small Devices */
@media screen and (max-width: 576px) {
    .navbar,
    .nav_links,
    .future_sec {
        flex-direction: column;
    }

    .future_img {
        grid-template-columns: repeat(1, 1fr);
    }

    .future_content {
        margin-top: 30px;
        margin-left: 20px;
    }
}

/* Responsive Medium Devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .future_sec {
        flex-direction: column;
    }

    .future_content {
        margin-top: 30px;
        margin-left: 50px;
    }
}